@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;

}


/* nav bar */

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .nav-list a:hover {
    opacity: 0.7;
  }
  
  .logo{
    object-fit: cover;
    width: 90px ;
    margin-left: 32px;
  }

  header{
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6200ff;
    height: 8vh;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-right: 32px;
    font-size: 15px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  .contato{
    visibility: hidden;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: fixed;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 62vh;
      background: #6200ff;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 100;
    }
    
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
    .nav-list li .contato{
      visibility: hidden;
    }

  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  

/* conteudo de apresentação*/

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#presentation{
    background-image: url(img/imgapresen.jpg) ;
    background-size: cover;
    background-position: top center;
    position: static;
    z-index: 1;
}

.container h1{
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    color: #ffffff; 
}

#presentation .bgit{
    display: inline-block;
    padding: 10px 30px;
    color: #7c00ad;
    background-color: transparent;
    border: 2px solid #7c00ad;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}
#presentation .bgit:hover{
    color: white;
    font-weight: 500;
    background-color: #6200ff;
    border: white 2px solid;
}

/* Projetos */

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -300px;
}

.title span{
    color: black;
}


/* Card */

#cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -300px ;
  margin-bottom: 150px;
}

.card{
  width: 270px;
  height: 400px;
  margin: 10px;
  box-shadow: 5px 5px 15px -4px #000000;
  transition: all 0.3s ease 0s;
  border-radius: 15px;
}

.card:hover{
    transform: scale3d(1.1, 1.1, 1);
}

.cardimg{
  height: 200px;
  margin: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card-1{
  background-image: url(imgprojetos/Logins-code.png);
}

.card-2{
  background-image: url(imgprojetos/formulario.jpg);
}

.card-3{
  background-image: url(imgprojetos/portifolip.jpg);
}

.card-4{
  background-image: url(imgprojetos/landpage.jpg);
}

.card-5{
  background-image: url(imgprojetos/e-commerce\ hooper.jpg);
}

.card-6{
  background-image: url(imgprojetos/comming-soon.jpg);
}

.card h2{
  text-align: center;
  margin-top: 50px;
}

.card p{
  text-align: center;
  margin: 15px;
}

.card button{
  width: 100%;
  border: none;
  height: 50px;
  background-color:#6200ff ;
  color: white;
  cursor: pointer;
}

/*footer*/

footer{
  margin: 0 ;
  padding: 20px;
  background-color: blue;

}

.logo-footer p{
  color: white;
}

.footer01{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-footer{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logo-footer img{
  max-width: 100%;
  width: 130px;
}

.icons{
  display: flex;
  gap: 20px;
  color: white;
}

.footer2{
  text-align: center;
  background-color: rgb(82, 82, 201);
  padding: 5px 0;
  font-weight: bold;
  color: white;
}

@media (max-width: 480px) {
  .footer01 {
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .icons {
      padding: 20px;
  }
}
